In [1]:
from sqlalchemy import create_engine
import sqlparse
my_conn = create_engine("sqlite:///my_db.db")
conn = my_conn.connect()

with open("create.sql") as file:
    query = file.read()
    sql_queries = sqlparse.split(
        sqlparse.format(query, strip_comments=True)
    )
    for string in sql_queries:
        conn.execute(string)

In [2]:
with open("insert.sql") as file:
    query = file.read()
    sql_queries = sqlparse.split(
        sqlparse.format(query, strip_comments=True)
    )
    for string in sql_queries:
        conn.execute(string)

In [3]:
r_set=my_conn.execute('''select name from sqlite_master where type = 'table' ''')
for row in r_set:
  print(row)

('CUSTOMER',)
('BRANCH',)
('LOAN',)
('BANK',)
('DEPARTMENT',)
('TRANSACTION',)
('BUSINESS ACCOUNT',)
('PRIVATE ACCOUNT',)

In [4]:
r_set=my_conn.execute('''SELECT * FROM [CUSTOMER]''');
for row in r_set:
  print(row)

(1, 'kim Soyeon', 'South Korean', 1, '01043567755', 'kim.soyeon@gmail.com', 'Soyeon', 'password1', 'Inha Incheon', 0)
(2, 'Lee Jimin', 'South Korean', 1, '01042244115', 'lee.jmin@gmail.com', 'jmin', 'password2', 'Seoul', 0)
(3, 'Yeon Ki-yeon', 'South Korean', 1, '02056390045', 'yeon.yeon@gmail.com', 'kiyeon', 'password3', 'Seoul', 0)

In [5]:
r_set=my_conn.execute('''SELECT * FROM [BRANCH]''');
for row in r_set:
  print(row)

(1, 'seoul branch', 'Seoul', 1, 3)

In [6]:
r_set=my_conn.execute('''SELECT * FROM [LOAN]''');
for row in r_set:
  print(row)

(1, 1000000, 1000, 2000000, 20220718, 20230510)

In [18]:
r_set=my_conn.execute('''SELECT * FROM [DEPARTMENT]''');
for row in r_set:
  print(row)

(1, 'transactions', 1)

In [19]:
r_set=my_conn.execute('''SELECT * FROM [BANK]''');
for row in r_set:
  print(row)

(1, 'bank 1', 'NATIO', 1)

In [21]:
r_set=my_conn.execute('''SELECT * FROM [TRANSACTION]''');
for row in r_set:
  print(row)

(1, 100000, 20221225, 1)

In [22]:
r_set=my_conn.execute('''SELECT * FROM [BUSINESS ACCOUNT]''');
for row in r_set:
  print(row)

(1, 234542122, 200000, 'company', 1, 1, 1, 2)

In [23]:
r_set=my_conn.execute('''SELECT * FROM [PRIVATE ACCOUNT]''');
for row in r_set:
  print(row)

(1, 68435154, 120000, 1, 1, 3)